files/Fossen/fossen_2010_structural_geology.pdf
files/Gustafson/gustafson_2020_electromagnetic_investigations_of_submarine_and_subglacial_hydrogeologic_systems.pdf
files/Marshak/marshak_2012_essentials_of_geology_(4th_edition).pdf
files/Murray/murray_2015_dynamics_of_glacier_calving_at_the_ungrounded_margin_of_helheim_glacier,.pdf
files/Cooper/cooper_1995_geology_and_seismic_stratigraphy_of_the_antarctic_margin.pdf
files/Lloyd/lloyd_2020_seismic_structure_of_the_antarctic_upper_mantle_imaged_with_adjoint_tomography2.pdf